<p id="notice"><%= notice %></p>

<p>
  <strong>Display name:</strong>
  <%= @project.display_name %>
</p>

<p>
  <strong>Key hash:</strong>
  <%= @project.key_hash %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
